

/*home*/
    body
    {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif; 
    }
    
    .container
    {
        width: 100%;
        margin: auto;
    }
    /* #home-container
    {
        justify-content: space-around;
    } */
    #logo, #logo-footer
    {
        min-width: 230px;
        height: 230px;
        position: absolute;
        background-image: url('content_images/logo_pensia.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 101;

    }
/*==================================================================*/

    #box-view1
    {
        display: flex;
        max-width: 1600px;
        min-width: 360px;
        min-height: 100vh;
        margin: auto;
        flex-direction: column;
        position: relative; 
    }
    
    #box-view1 img
    {
        width: 100%;
    }
    #box-view1 #view1 p,
    #box-view1 #view1 h2,
    #box-view1 #view1 .more_details a
    {
        color: white;
        font-size: 20px;
        transform: scale(0);
        transition: 0.7s;

    }
    #box-view1 #view1 h2
    {
        font-size: 38px;
    }
    #view1
    { 
        opacity: 0;
        z-index: 100;
        transition: .9s ease;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        max-width: 1600px;
        min-width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center; 
        text-align: center; 
        padding: 0 40px;
    }
    #box-view1:hover #view1
    {
        opacity: 1;
        z-index: 1;
    }
    .container #box-view1 .content .more_details,
    .container #box-view2 .content .more_details
    {
        max-width: 150px;
        display: flex;

    }
    #box-view1 #view1 .more_details a
    {
        border: 2px solid rgba(0, 0, 0, 0.01);
        padding-top: 10px;
        justify-content:space-around;
        text-decoration: none;
        text-align: center;
        transition: 0.5s;
        border-radius: 20px;
        transform: scale(0); 
        height: 30px;
        width: 150px;
    }
    #box-view1:hover #view1 p,
    #box-view1:hover #view1 h2,
    #box-view1:hover #view1 .more_details a
    {
        transform: scale(1);
        opacity: 1; 
        
    }
    #box-view1 #view1 .more_details a:hover
    {
        background:rgba(0, 0, 0, 0.4);
        border: 2px solid white;
    }
    .container #section-boxes
    {
        max-width: 1600px;
        min-width: 360px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        margin: auto;
    }
    .container #section-boxes .box
    {
        max-width: 350px;
        height: 500px;
        margin: auto;
        background: #3d6f82;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        border: #f4fafd solid;
    }
    .container #section-boxes .box .content
    {
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
    }
    .container #section-boxes .box .content h2
    {
        display: flex;
        margin: 10px 10px;
        justify-content: center;
        text-align: center;
        align-content: center;
        flex: 1;
        padding-top: 25px;
    }
    .container #section-boxes .box .content p
    {
        display: flex;
        padding-top: 5px;
        padding-left: 20px;
        font-size: 18px;
        flex: 2;
        justify-content: center;
        text-align: start;
    }
    .container #section-boxes .box .content .more_details
    {
        display: flex;
        flex: 1;
        align-content: flex-end;
        justify-content: center;

    }
    .container #section-boxes .box .content .more_details a
    {
        display: flex;
        color: white;
        height: 25px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        align-content: center;
        padding: 10px;
        border: 2px solid #3d6f82;
        transition: 0.2s;
        background: #f4fafd;
        color: #3d6f82;
    }
    .container #section-boxes .box .content .more_details a:hover
    {
        color: #fff;
        background: #3d6f82;
        border: 2px solid #f4fafd;
        border-radius: 20px;
    }
    #about-us
    {
        display: flex;
        height: auto;
        background: #f2f2f2;
        width: 100%;
        max-width: 1600px;
        min-width: 360px;
        justify-content: space-around;
        align-content: center;
        margin-bottom: 20px;
    }
    #about-us #content-about-us
    {
        max-width: 970px;
        display: flex;
        flex-direction: column;
        margin: 45px 55px;
    }
    #about-us #content-about-us h2,
    #about-us #content-about-us h3
    {
        text-align: center;
    }
    #about-us #content-about-us h2
    {
        font-size: 38px;
        margin-top: 45px;
    }
    #about-us #content-about-us h3
    {
        font-size: 30px;
    }
    #about-us #content-about-us p
    {
        font-size: 18px;
    }
    
    div.container-contact
    {
        display: flex;
        width: 100%;
        max-width: 1600px;
        min-width: 360px;
        height: 650px;
        justify-content: center;
        align-content: center;
    }
    div#services-list
    {
        max-width: 970px;
        position: relative;
        height: auto;;
        display: flex;
        flex-direction: row;
        transition: .9s ease;
        margin: 35px 5px 40px 5px;
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    div#services-list:hover
    {
        transform: scale(1.15);
        transition: .9s ease;
        z-index: 1;
    }
    #services-list .service-in-list
    {
        width: 170px;
        height: 80px;
        overflow: hidden;
        display: flex;
        flex-direction: column; 
        padding: 35px 5px 0 5px;
        transition: .9s ease;
        border: 2px solid #fafafa;

    }
    #services-list .service-in-list img
    {
        width: 50%;
        height: auto;
        flex: 1;
        display: flex;
        margin: auto;
        transition: .9s ease;
    }
    div#services-list .service-in-list a
    {
        text-decoration: none;
        color: white; 
        display: none;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        transition: .9s ease;
        border-radius: 20px;
    }
    #services-list .service-in-list:hover a
    {

        display: flex;
    }
    #services-list .service-in-list:hover img
    {
        display: none;
    }
    #services-list .service-in-list:hover
    {
        color: #fff;
        background: #3d6f82;
        border: 2px solid #f4fafd;
        border-radius: 10px;
    }
/*==================================================================*/

/* contact-form     */
    .container-contact
    {
        max-width: 1600px;
        min-width: 360px; 
        min-height: 800px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #f2f2f2;
        margin-bottom: 20px;
    }
    .container-contact .contact-form-back {
        width: 45%;
        height: 100%;
        z-index: 1;
        background-image: url('content_images/bg-01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .container-contact .contact-form
      {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: row;
      }
      .container-contact .contact-form form
    {
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .contact-form form .wrap-input
    {
        width: 400px;
        margin-bottom: 25px;
        margin-left: 30px;
    }
    .container-contact .contact-form form h2 
    {
        display: flex;
        text-align: center;
        margin-bottom: 55px;
        margin-top: 45px;
        font-size: 28px;
    }
      label.label-input 
    {
        font-family: Montserrat-SemiBold;
        font-size: 14px;
        color: #666666;
        line-height: 1.2;
        text-transform: uppercase;
        padding: 15px 0 2px 24px;
    }
      
      input.input 
    {
        display: block;
        width: 360px;
        height: 38px;
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #404b46;
        line-height: 1.2;
        border-radius: 10px;
    }
      
     textarea.input
    {
        display: block;
        width: 360px;
        height: 140px;
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #404b46;
        line-height: 1.2;
        border-radius: 10px;
    }
     
     .contact-form form .submit
     {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 50px;
        border-radius: 10px;
        background: #3d6f82;
        font-family: Montserrat-Bold;
        font-size: 14px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
     }
     div.contact-form-social 
     {
         display: flex;
         max-width: 560px;
         min-width: 320px;
         height: 60px;
         justify-content: center;
         align-content: center;
         justify-items: normal;
         margin: 10px;
       }
       
       .contact-form-social-item {
         /* width: 36px;
         height: 36px; */
         font-size: 38px;
         border-radius: 50%;
         color: #496ecb;
         margin: 0 6px 0 6px;
       }
       
       .contact-form-social-item:hover {
         transform: scale(1.1);
       }


/*==================================================================*/  
      

 /*header-home*/  
   #header-home 
    {
        margin: auto;
        max-width: 1600px;
        min-width: 360px;
        /* background: #3d6f82; */
    }
    #header-home #menu-bar-home
    {
         display: flex;
         height: auto;
         position: relative;
         z-index: 100;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 16px;
         background: #3d6f82;
         cursor: pointer;
     }
     #header-home #menu-bar-home ul
     {
         list-style: none;
         display: flex;
         margin: auto;
         /* flex-direction: row; */
         align-content: center;
         text-align: right;
         justify-content: center;
         padding-right: 40px; 
         padding-top: 20px;
         padding-bottom: 25px;
         flex-wrap: wrap;
     }
     #menu-bar-home li
     {
         display: flex;
         justify-content: space-around;
         margin-right: 45px;
     }
     #menu-bar-home li a
     {
         display: flex;
         color: white;
         text-align: center;
         text-decoration: none;
         align-content: center;
         padding: 10px;
         border: 2px solid #3d6f82;
     }
     div#menu-bar-home li a:hover,
     div#menu-bar li a:hover
     {
        border-bottom: 2px solid #f2f2f2;
     }
     div#menu-bar-home li.current a,
     div#menu-bar li.current a
     {
        color: #3d6f82;
        background: #f4fafd;
        border: 2px solid #f4fafd;
        border-radius: 20px; 
    }
 /*==================================================================*/
/*header*/
   div.page
    {
        margin: auto; 
        width: 970px;
        min-width: 360px;
    }
   #menu-bar
   {
        display: flex;
        width: 100%;
        min-height: 80px;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        background: #3d6f82;
        cursor: pointer;
    }
    #menu-bar ul
    {
        list-style: none;
        display: flex;
        margin: auto;
        flex-direction: row;
        align-content: center;
        text-align: center;
        width: 100%;
        justify-content: space-between;
        padding-right: 40px;
        flex-wrap: wrap; 

        
    }
    #menu-bar li
    {
        display: flex;
        justify-content: space-around;
    }
    #menu-bar li a 
    {
        display: flex;
        color: white;
        text-align: center;
        text-decoration: none;
        align-content: center;
        padding: 10px;
        border: 2px solid #3d6f82;

    }

 /*==================================================================*/
/*banner*/
    .banner
    {
        margin: auto;
        width: 970px;
        height: 580px;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .banner img
    {
        width: 100%;
        height: auto;
    }
    .banner h2.entry-title-view3,
    .banner h2.entry-title-view4
    {
        margin: auto;
        padding-top: 40px; 
        position: absolute;
        color: white; 
        font-size: 32px;    
    }
    .banner h2.entry-title-view2
    {
        width: 900px;
        display: flex;
        margin-top: 260px;
        padding-right: 30px;
        position: absolute;
        justify-content: flex-end;  
        font-size: 32px; 
    }
    .banner h2.entry-title-view1
    {
        width: 900px;
        display: flex;
        margin-top: 40px;
        padding-right: 30px;
        position: absolute;
        justify-content: flex-end;
        font-size: 32px
    }
    
 /*==================================================================*/  
/*view1*/
    .view-container
    {
        display: block;
        width: 970px;
        height: 100%;
        margin: 10px auto;
        background: #f2f2f2;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;  
        position: relative; 
    }
    .view1-intro-container
    {
        width: 720px; 
	    left: 110px; 
	    top: 30px;
	    position: relative;
    }
    .view1-intro-container p
    {
        padding: 5px 10px 5px 15px;
    }
    .view1-rules-container
    {
        display: block;
        padding-top: 10px;
        padding-left: 10px;
        margin: 10px;
    }    
    .view1-rules-container h4
    {
        padding: 0 0 0 5px;
    }
    .view1-footer-intro-container
    {
        display: inline-block;
        margin: 10px;
    }
 /*==================================================================*/
/*view2*/
    .view2_holder
    {
        display: flex;
        margin: auto;
        width: 970px;
        flex-direction: column;
        justify-content: space-around;
    } 
    .article
    {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        justify-content: flex-start;
    }
    .article h2
    {
        margin: auto;
    } 
    .article .content
    {
        padding-left: 60px;
        padding-right: 60px;
    }
    a.scroll
    {
        list-style-type: none;
        color: #03688f;
        font-size: 20px;
    }
    a.scroll:hover
    {
        color: #bf3455;
    }
    table.table
    {
        display: grid;
        width: 480px;
        margin: 10px;
        justify-content: space-around;

    }
    .table thead tr
    {
        display: grid;
        width: 480px;
        background: #3d6f82;
        color: white;
        grid-template-columns: 240px 240px;


    }
    .table tbody tr
    {
        display: grid;
        width: 480px;
        background: white;
        grid-template-columns: 240px 240px;
        justify-items:  center;
    }
 /*==================================================================*/
/*view3*/ 
    .view3_holder
    {
        display: flex;
        margin: auto;
        width: 970px;
        flex-direction: column;
        justify-content: space-around;
    }  
    .container_calculation_formula
    {
        margin: 10px;
        padding-left: 60px;
        padding-right: 60px;
    } 
    .calculation_formula
    {
        width: 350px;
        margin: auto;
    }
    .calculation_formula p
    {
        font-size: 25px;
    }
    .data_calculation_formula
    {
        display: flex;
        margin: 10px;
        flex-direction: column;
    }
    .data_calculation_formula h3
    {
        margin: auto;  
    }
    .form-container ul,
    .form-container li 
    {
        list-style-type: none;
    }
    .form-container
    {
        display: flex;
        margin: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .form-container li 
    {
        display: flex;
        width: 800px;
        padding-bottom: 0px;
        justify-content: space-between;
        flex-direction: row;
    
    }
    .form-container li input 
    {
        margin-bottom: 9px;
        width: 320px;
        height: 20px;
        border-radius: 7px;
        font-size: 16px;
        align-items: flex-end;
    }
    .form-container .submit
    {
        width: 130px;
        height: 35px;
        margin-top: 10px; 
        border-radius: 10px;
        font-size: 18px;
        color: white;
        background: #3d6f82;
        cursor: pointer;
        text-align: center;
        
    }
    .form-container .submit:hover
    {
        background: white;
        color: #bf3455;
    }

 /*==================================================================*/
/*view4-contact*/  
    .view4_holder
    {
        display: flex;
        margin: auto;
        width: 970px;
        flex-direction: row;
    } 
    .col1 
    {
        width: 485px;
        display: flex;
        flex-direction: column;
        padding-left: 35px;
        padding-right: 35px;
        align-items: flex-start; 

    }
    .col2 
    {
        width: 485px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 35px;
        align-items: flex-start; 
    }
    .view4_holder form ul,
    .view4_holder form li 
    {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    .view4_holder form li 
    {
        display: flex;
        width: 360px;
        padding-bottom: 0px;
        justify-content: space-between;
        flex-direction: row;
    }
    .view4_holder form li input 
    {
        margin-bottom: 9px;
        width: 240px;
        height: 20px;
        border-radius: 7px;
        font-size: 16px;
        align-items: flex-end;
    }
    textarea.mandatory
    {
        width: 360px;
        height: 150px;;
        border-radius: 7px;
        font-size: 16px;
        padding-left: 40px;
    }
    .view4_holder .submit
    {
        width: 100px;
        height: 35px;
        margin-top: 10px; 
        border-radius: 10px;
        font-size: 18px;
        color: white;
        background: #3d6f82;
        cursor: pointer;
        text-align: center;

    }
    .view4_holder .submit:hover
    {
        background: white;
        color: #bf3455;
    }
    input.mandatory.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched
    {
        border: 2px solid red;
    }
    /* input[disabled="disabled"]
    {
        opacity: 0.6;
        cursor: not-allowed !important;
    } */

    .view4_holder li 
    {
        padding-bottom: 5px;
    }
    div.map
    {
        position: relative;
        width: 100%;
        height: auto;
    }
    div.map iframe
    {
        width: 100%;
        height: auto;
        border: 2px solid #3d6f82;
        margin-bottom: 40px;
    }
    a.more_maps:hover
    {
        background: white;
        color: #bf3455;   
    }
 /*==================================================================*/
/* view5     */
    .content-view5
    {
        display: flex;
        margin: auto;
        width: 970px;
        flex-direction: column;
        justify-content: space-around;
        align-content: center; 
    }

    .content-view5 h3,
    .content-view7 h2
    {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 20px 20px;
        padding: 10px 10px;
    }
    .content-view5 div
    {
        display: flex;
        flex-direction: column;
        text-align: start;
        margin: 20px 20px;
        padding: 10px 10px;
    }
 /*==================================================================*/   
/* view6     */
    .content-view6
    {
        display: flex;
        margin: auto;
        width: 970px;
        height:auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .content-view6 h2
    {
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 38px;
    }
    .content-view6 p
    {
        padding: 0 20px;
    }
    .content-view6 .consultation-content
    {
        display: flex;
        margin:auto;
        width: 800px;
        flex-direction: column;
        justify-content: center;
        align-content:center;
    }
    .content-view6 .consultation-content h3
    {
        display: flex;
        justify-content: start;
        text-align: start;
        padding-left: 188px;
        
    }
    .content-view6 .consultation-content .consultation 
    {
        display: inline-flex;
        flex-direction: row;
    }
 /*==================================================================*/ 
/* view7, view8 */
    .content-view7,
    .content-view8
    {
        display: flex;
        margin: auto;
        width: 970px;
        height:100vh;
        flex-direction: column;
        align-content: center; 
    }
    .content-view7 div{
        display:flex;
        margin: 0 40px;
        flex-direction: column;
        text-align: start;
    }
 /*==================================================================*/
/*contact-success*/
    .contact-success_holder
    {
        width: 970px;
        height: 100vh;
        display: flex;
        justify-content: space-around;
    }
    div.success-mesage
    {
        width: 600px;
        height: auto;
        display: flex;
        justify-content: space-around;
        text-align: center;

    }
 /*==================================================================*/
/*footer-home*/
    #footer-content
    {
        max-width: 1600px;
        min-width: 360px;
        height: auto;
        margin: auto;
        display: flex;
        background: #3d6f82;
        color: #fff;
        flex-direction: column;
        align-content: space-between;
        flex-wrap: wrap;

    }
    div#footer-content h2
    {
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 30px;
        padding-top: 55px;
    }
     #footer-content #footer-home
    {
        display: flex;
        width: 100%;
        margin: 25px 10px;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 35px;

    }
    div#footer-home .footer-map
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div#footer-home .footer-map iframe
    {
        width: 100%;
        margin: 30px 0 0 0;
    }
    div#footer-home .footer-contact
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div#footer-home .footer-contact p
    {
        font-size: 20px;
        text-align: center;
    }
    div#footer-home .footer-contact a
    {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
    }
    div#footer-home .footer-contact a:hover
    {
        background: #f4fafd;
        color: #3d6f82;
        border-radius: 20px;
    }
 /*==================================================================*/
/*footer*/
    #footer-bar
    { 
        height: 235px;
        width: 970px;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        background: #3d6f82;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
     #footer-bar .footer-menu
    {
        min-width: 740px;
        min-width: 360px;
        flex: 1;
    }
    #footer-bar .footer-menu ul
    {
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        color: white;
        align-content: center;
        justify-content: start;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    #footer-bar .footer-menu li
    {
        margin-right: 70px;
    }
    #footer-bar ul a
    {
        text-decoration: none;
        color: white;
        border: 2px solid #3d6f82;
    }
    div#footer-bar li.footer-wrap a:hover
    {
        color: #3d6f82;
        background: #f4fafd;
        border: 2px solid #f4fafd;
        text-decoration: none;
        border-radius: 20px;
    }
    .footer-social-item 
    {
        font-size: 38px;
        text-align: center;
        border-radius: 50%;
      }
     .footer-social-item i.fa.fa-facebook-square
      {
        color: #496ecb;
        background: #f2f2f2;
        font-size: 46px;
        width: 46px;
        height: 46px;
        text-align: center;
       
      }
      .footer-social-item i.fa.fa-facebook-square:hover{
        color: #f2f2f2;
        background: #496ecb;
        transform: scale(1.1);
      }
 /*==================================================================*/
/*Animations*/
    main.ng-enter
    {
        transition: 0.3s linear all;
        opacity: 0;
    }
    main.ng-enter.ng-enter-active 
    {
        opacity: 1;
    }
    .scroll.ng-enter
    {
        scroll-behavior: smooth;
        opacity: 0;
    }
    .scroll.ng-enter.ng-enter-active 
    {
        opacity: 1;
    } 
 /**/
/*==================================================================*/  

@media (max-width: 1220px) {
    div.contact-form
    {
      width: 55%;
    }
    .contact-form-back {
      width: 55%;
    }
    #logo{
        margin-top: 55px;
    }
  }
  @media (max-width: 1025px) {
    .contact-form
    {
      width: 45%;
      margin-right: 110px;
    }
    .contact-form-back {
      width: 30%;
    }
    #box-view1{
       min-height: 85%;
    }
  } 
   @media (max-width: 768px) {
    .contact-form {
      width: 100%;
      margin-left: 90px;
    }
    .contact-form-back {
      display: none;
    }
    .contact-form form .wrap-input{
        width: 340px;
    }
    input.input,
    textarea.input{
        width: 300px;
    }

    #view1 h2,
    #view1 p
    {
        margin: 0;
    }
    #logo{
        margin-top: 25px;
        min-width: 130px;
        height: 130px;
    }
    div#footer-home .footer-map {
        margin-right: 20px;
        margin-top: 35px;
    }
    #header-home #menu-bar ul{
        font-size: small;
    }
    #header-home #menu-bar-home ul        {
        justify-content: flex-end;
        flex-direction: column;
        }
        #menu-bar-home li{
            margin-right: 10px;
            font-size: 75%;
        }    
  }
  @media (max-width: 619px) {

    /* .contact-form {
        margin-left: 90px;
    } */
    #view1{
        display: none;
    }
    div#footer-content h2,
    #view1 h2,
    #about-us #content-about-us h2,
    #about-us #content-about-us h3,
    .container-contact .contact-form form h2 {
        font-size: 22px;
    } 
    /* #logo{
        margin-top: 225px;  
    } */
  }
  /* @media (max-width: 376px) {
    #home-container{
        width: 100%; 
        justify-content: space-around;
    }
    .contact-form {
      width: 30%;
      margin-left: 116px;
    }
    #header-home #menu-bar{
        padding-bottom: 35px;
    }
    #box-view1 #view1 h2{
        font-size: 12px;
        margin-left: 130px;
    }
    #box-view1 #view1 .more_details a{
        margin-left: 90px;
    }
}   */




