
    <div id="header-home">
        <header ng-include="'header.html'"></header>
    </div>
    
    <div class="container"> 
        <div class="box" id="box-view1">
            <img src="content_images/tea.jpg">
            <div class="content" id="view1">
                <h2>Пенсия "Под Ключ"</h2>
                <p>Наши юристы предоставляют качественные юридические услуги в сфере пенсионного обеспечения граждан и имеет многолетний опыт помощи гражданам в оформлении пенсии. Специалисты нашей компании предоставят Вам консультацию по всем вопросам, касающихся оформления пенсии, а также помогут Вам оформить пенсию в кратчайшие сроки при минимальном Вашем участии.</p>
                <div class="more_details">
                    <a href ="#!/view1">Подробнее...</a>
                </div>
            </div>
        </div>
        <div id="section-boxes">
            <div class="box" id="box-view2">
                <div class="content" id="view2">
                    <h2>Пенсионные законы в Украине</h2>
                    <p>О том, какова минимальная пенсия в Украине, каким образом она устанавливается, и кто имеет право на ее получение в свете последних изменений пенсионного законодательства...</p>
                    <div class="more_details"     style="margin-left: 75px;">
                        <a href ="#!/view2">Подробнее...</a>
                    </div>
                </div>   
            </div>
            <div class="box" id="box-view5">
                <div class="content" id="view5">
                    <h2>Размер пенсии пенсионерам выехавшим на ПМЖ</h2>
                    <p>В 2009 году в Украине были признаны неконституционными некоторые статьи Закона о пенсиях, запрещавшие выплату пенсии выехавшим на постоянное место жительства за границу. Этим фактически была устранена единственная причина для отказа в выплате пенсии.</p>
                    <div class="more_details">
                        <a href ="#!/view5">Подробнее...</a>
                    </div>
                </div>
            </div>
            <div class="box" id="box-view4">
                <div class="content" id="view3">
                    <h2>Расчет пенсии</h2>
                    <p>Размер минимальной пенсии в Украине определяют по специальной формуле.Наша задача помочь разобраться в столь интенсивном потоке информации, выяснить правила и методику расчета пенсии...</p>
                    <div class="more_details">
                        <a href ="#!/view3">Подробнее...</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="about-us">
            <div id="content-about-us">
                <h2>Добро пожаловать на сайт компании </br>«Пенсия под Ключ»!</h2>
                <p>Мы – команда молодых, энергичных и очень целеустремленных специалистов, желающих сделать мир чуточку лучше. Каждый день мы помогаем людям, столкнувшимся с нарушением их прав и интересов. Законных, выстраданных нашими с вами предками прав и интересов.</p>
                <h3>Наш принцип работы – честность!</h3>
                <p>Никогда и ни при каких обстоятельствах мы не обманываем клиента. Наши условия работы – белые. Наши цены – прозрачные. Если мы один раз назвали величину вознаграждения за наши знания, старания и решение вашей проблемы – значит такой она и останется. Мы не «тянем» деньги из клиента. И не обещаем того, чего не в силах выполнить.</p>
                <h3>Услуги</h3>
                <p>Компания «Пенсия под Ключ» предсталяет большой спектр услуг:</p>
                <ul>
                    <a href ="#!/view6"><li>Экспресс-консультация</li></a>
                    <a href ="#!/view6"><li>Устная консультация юриста</li></a>
                    <a href ="#!/view6"><li>Skype-консультация юриста</li></a>
                    <a href ="#!/view6"><li>Выездная устная консультация юриста</li></a>
                    <a href ="#!/view6"><li>Письменная консультация юриста в форме правового заключения</li></a>
                    <a href ="#!/view6"><li>Подготовка документов</li></a>
                    <a href ="#!/view6"><li>Подготовка искового заявления</li></a>
                    <a href ="#!/view6"><li>Сам себе юрист</li></a>
                    <a href ="#!/view6"><li>Комплексное сопровождение интересов клиента</li></a>
                    <a href ="#!/view6"><li>Судебное представительство</li></a>
                </ul>
                <h3>Как мы работаем</h3>
                <p>Компания «Пенсия под Ключ» работает для того, чтобы помогать вам решать сложные проблемы в различных областях пенсионного права. Проконсультироваться у юриста можно в любое время как дистанционным способом, так и при личном общении. <span><a href ="#!/view7" class="more">Подробнее...</a></span></p>
            </div>
        </div>
    </div>

    <div id="footer-home">
        <footer ng-include="'footer-home.html'"></footer>
    </div>   
