<div>
    <header ng-include="'header.html'"></header>
</div>
<div class="view-container">
    <div class="content-view7">
        <h2 style="color:#3d6f82;">Как мы работаем</h3>
        <div>
            <p>Компания ««Пенсия под Ключ»» работает для того, чтобы помогать вам решать сложные проблемы в различных областях пенсионного права. Проконсультироваться у юриста можно в любое время как дистанционным способом, так и при личном общении. Свой вопрос вы можете задать:</p>
            <ul>
                <li>По телефону: +38(098)4447628</li>
                <li>По электронной почте: <a href = 'mailto:chekayufor@gmail.com?body="Yourbody"&subject="a subject".com'>pandubinsky@gmail.com</li></a>
                <li>По Skype, WhatsApp, Telegram и Viber</li>
                <li>Ha сайте, оставив заявку на услугу или обратный звонок</li>
                <li>В офисе по адресу:Площадь героев майдана, 1 каб 417,г. Днепр</li>
            </ul>
            <p>Также вы можете заказать подготовку документов (договоры, претензии, жалобы, исковые заявления), подробную письменную консультацию с практическими рекомендациями к действию, оперативно решить любой вопрос посредством устной консультации. Звоните и пишите нам, так вы сбережете время на другие важные дела!</p>
        </div>
    </div>
</div>
<div>
    <footer ng-include="'footer.html'"></footer>
</div>