<div>
    <header ng-include="'header.html'"></header>
</div>

<div class="view-container">
    <div class="content-view6">
        <h2 style="color:#3d6f82;">Услуги</h3>
        <p>Компания <strong>«Пенсия под Ключ»</strong> предсталяет большой спектр услуг:</p>
        <div class="consultation-content"> 
            <div> 
                <h3>Экспресс-консультация</h3> 
                <div class="consultation" id="express-consultation">
                    <img ng-src="content_images/internet-cons.jpg" alt="consultation"/>
                    <p>Вы получаете краткий ответ на свой вопрос. Задать свой вопрос Вы можете по электронной почте: <a href = 'mailto:pandubinsky@gmail.com?body="Yourbody"&subject="a subject".com'>E-mail: pandubinsky@gmail.com</a>, или заполнив <a href ="#!/view4">форму</a>.</p>
                </div>
            </div>
            <div>
                <h3>Устная консультация юриста</h3>
                <div class="consultation" id="oral-consultation">
                    <img ng-src="content_images/ustnaya-kons.jpg" alt="consultation"/>         
                    <p>Вы получите развернутый ответ на вопрос в устной форме по телефону, посредством WhatsApp и Viber, а также в офисе.</p>
                </div>
            </div>
            <div>
                <h3>Skype-консультация юриста</h3>
                <div class="consultation" id="skype-consultation">
                    <img ng-src="content_images/skype-consult.jpg" alt="consultation"/>
                    <p>Оказание устной консультации посредством общения в Skype. Вы можете получить квалифицированную консультацию юриста за любым компьютером или телефоном, на котором установлен Skype. login:__  </p>
                </div>
            </div>
            <div>
                <h3>Выездная устная консультация юриста</h3>
                <div class="consultation" id="field-consultation">
                    <img ng-src="content_images/vyezdnaya-consultaciya.jpg" alt="consultation"/>
                    <p>Это возможность получить развернутый ответ юриста на свой вопрос в удобном для вас месте, в офисе или дома и сэкономить свое время на дорогу.</p>
                </div>
            </div>
            <div>
                <h3>Письменная консультация в форме правового заключения</h3>
                <div class="consultation" id="written-consultation">
                    <img ng-src="content_images/su-razvod.jpg" alt="consultation"/>
                    <p>Удобный вариант получения ответа на свой вопрос и сохранения этой информации. Ответ будет содержать не просто профессиональное мнение юриста, но и правовое заключение с ссылками на обосновывающие его законодательные акты. Результат будет предоставлен вам на фирменном бланке или по e-mail.</p>
                </div>
            </div>
            <div>
                <h3>Подготовка документов</h3>
                <div class="consultation" id="preparation-of-documents">
                    <img ng-src="content_images/zptd.jpg" alt="consultation"/>
                    <p>Данная услуга включает в себя анализ вашего вопроса, имеющихся по нему документов и непосредственно саму подготовку требующегося документа.</p>
                </div>
            </div>
            <div>
                <h3>Подготовка искового заявления</h3>
                <div class="consultation" id="preparation-of-statement-claim">
                    <img ng-src="content_images/iskovoe.jpg" alt="consultation"/>
                    <p>Данная услуга включает в себя анализ вашего вопроса, имеющихся по нему документов и непосредственно саму подготовку требующегося документа.</p>
                </div>
            </div>
            <div>
                <h3>Сам себе юрист</h3>
                <div class="consultation" id="himself-a-lawyer">
                    <img ng-src="content_images/sam-sebe-jurist.jpg" alt="consultation"/>
                    <p>Данная услуга – это подготовка Вас к самостоятельной защите своих интересов в суде, включающая проект защиты в суде, инструктаж по поведению в суде, подготовленный анализ вопроса, исковое заявление, все процессуальные документы и устное сопровождение во всех процедурах до окончания дела.</p>
                </div>
            </div>
            <div>
                <h3>Комплексное сопровождение интересов клиента</h3>
                <div class="consultation" id="integrated-support">
                    <img ng-src="content_images/ispolnitelnoe-proizvodstvo.jpd.png" alt="consultation"/> 
                    <p>Вы получите поддержку юриста, который вместе с вами или без вас нанесет визит к третьим лицам (не суд) для рассмотрения вопроса и дачи пояснений и дополнительно подготовит все необходимые документы.</p>
                </div>
            </div>
            <div>
                <h3>Судебное представительство</h3>
                <div class="consultation" id="judical-represantation">
                    <img ng-src="content_images/sudebnoe-predstavitelstvo.jpg" alt="consultation"/>
                    <p>Ваши интересы в суде будут отстаивать профессионалы. Услуга включает в себя весь анализ вопроса, подготовку процессуальных документов, искового заявления, подачу иска в суд и участие в первом судебном заседании.</p>
                </div>
            </div>
        </div>    
        <p>Также вы можете заказать подготовку документов (договоры, претензии, жалобы, исковые заявления), подробную письменную консультацию с практическими рекомендациями к действию, оперативно решить любой вопрос посредством устной консультации. Звоните и пишите нам, так вы сбережете время на другие важные дела!</p>
        <p>Стоимость работы юристов зависит от выбранных Вами видов услуг. </p>
    </div>
</div>

<div>
    <footer ng-include="'footer.html'"></footer>
</div>