<div>
    <header ng-include="'header.html'"></header>
</div>
<div class="banner">
    <img src="content_images/happy_pension.jpg">
    <h2 class="entry-title-view1" style="color:#3d6f82;">ПЕНСИЯ "ПОД КЛЮЧ"</h2>
</div>
 <div class="view-container">
    <div class="view1-banner-container">
    </div>
    <div class="view1-content-container"> 
        <div class="view1-rules-container">
            <p>Наши юристы предоставляют качественные юридические услуги в сфере пенсионного обеспечения граждан и имеет многолетний опыт помощи гражданам в оформлении пенсии. Специалисты нашей компании предоставят Вам консультацию по всем вопросам, касающихся оформления пенсии, а также помогут Вам оформить пенсию в кратчайшие сроки при минимальном Вашем участии.</p>
            <div class="row">
                <h4 style="color:#3d6f82;">Hаши услуги:</h4>
                <ul>
                    <li><span><a style="color: #03688f;font-size: 20px;" onmouseover="this.style.color='#3d6f82'" onmouseout="this.style.color='#03688f'" href="#!/view3" >Предварительный расчет пенсии</a></span></li>
                    <li><span>Получение справки персонифицированного учета</span></li>
                    <li><span>Получение справки о заработной плате до 01.07.2000</span></li>
                    <li><span>Открытие пенсионного счета в банке</span></li>
                    <li><span>Составление Заявления и формирования полного пакета документов для получения пенсии</span></li>
                    <li><span>Оформление пенсии в пенсионном фонде</span></li>
                    <li><span>Получение пенсионного удостоверения</span></li>
                </ul>
            </div>
        </div>
        <div class="view1-intro-container">
            <p>В соответствии с Законом Украины «Об общеобязательном пенсионном страховании» современная пенсионная система Украины состоит из трех уровней: солидарная пенсионная система, накопительная система и добровольная (не государственное). Абсолютное большинство граждан Украины, получают пенсию в солидарной пенсионной системе, поскольку накопительная пенсионная система еще не начала работать, а добровольная система пенсионного обеспечения не известна широкой общественности.</p>
        </div>
        <div class="view1-rules-container">
            <div class="row">
                <h4 style="color:#3d6f82;">Пенсионеры, которые получают пенсию в солидарной системе, имеют право на следующие виды пенсии:  </h4>
                <ul>
                    <li><span>Пенсию по возрасту</span></li>
                    <li><span>Пенсию по инвалидности вследствие общего заболевания</span></li>
                    <li><span>Пенсию в связи с потерей кормильца</span></li>
                    <li><span>Пенсию по выслуге лет</span></li>
                </ul>
            </div>    
        </div>
        <div class="view1-intro-container">
            <p> Основная часть граждан получает пенсию по возрасту, о ней в дальнейшем и пойдет речь.</p>
            <p>	Согласно ЗУ «Об общеобязательном государственном пенсионном страховании» общий пенсионный возраст в Украине и для женщин и для мужчин составляет 60 лет. Однако у женщин повышение пенсионного возраста до 60 лет происходит поэтапно в соответствии с ч.2 ст.26 ЗУ «Об общеобязательном государственном пенсионном страховании». Но достижения указанного возраста еще не дает Вам права на получение пенсии, поскольку Законодателю также важно, чтобы Вы имели соответствующий страховой стаж (трудовой стаж). Для назначения пенсии по возрасту, Вам необходимо иметь не менее 15 лет страхового стажа. Если гражданин не имеет 15 лет страхового стажа то это не повод расстраиваться, Вы можете оформить государственную социальную помощь. Что касается страхового стажа для установления минимального размера пенсии на уровне прожиточного минимума, то для женщин он составляет 30 лет, а для мужчин - 35, при условиях достижения соответствующего возраста.</p>
            <p>	Постановлением Правления ПФУ от 25.11.2005 г.. № 22-1 предусмотрено, что обращение за назначением пенсии необходимо делать не ранее чем за месяц до достижения пенсионного возраста. Граждане, которые уже не работают обращаются в орган, назначающий пенсию, по месту жительства (регистрации). Здесь необходимо обратить Ваше внимание, на то, что личная Ваше присутствие не обязательно. Это может сделать уполномоченное лицо по доверенности. Для тех, кто официально трудоустроен Постановлением предусмотрено подачи заявления о назначении пенсии в управление Пенсионного Фонда Украины через соответствующую уполномоченное должностное лицо предприятия, учреждения, организации, где этот гражданин работает в данный промежуток времени (обычно это бухгалтерия или отдел кадров). По желанию Вы можете подать заявление самостоятельно.</p>
        </div>
        <div class="view1-rules-container">
            <div class="row">
                <h4 style="color:#3d6f82;"><b>Перечень документов для оформления пенсии:</b></h4>
                <ul>
                    <li><span>Паспорт и идентификационный номер;</span></li>
                    <li><span>Документ об образовании;</span></li>
                    <li><span>Свидетельство о рождении детей;</span></li>
                    <li><span>Свидетельство о заключении брака (при смене фамилии);</span></li>
                    <li><span>Заявление на выплату пенсии через банковские учреждения - будущий пенсионер сам определяет каким образом он желает получать пенсию. Это может быть любая банковское учреждение или почтовое отделение. Заявитель предоставляет заявление об открытии счета в банке или отмечает желающий получать пенсию на почте.;</span></li>                    <li><span>Трудовую книжку или документы о стаже;</span></li>
                    <li><span>Справку о заработной плате за период страхового стажа до 01.07.2000 г.;</span></li>
                    <li><span>Документы о предоставлении особого статуса человеку;</span></li>
                    <li><span>Военный билет;</span></li>
                    <li><span>Цветная фотография 4х6 (2 шт.) - необходима для оформления пенсионного удостоверения.</span></li>
                </ul>
                <p> Данные документы подаются или в оригиналах или в копиях заверенных нотариально или администрацией предприятия, где Вы работаете.</p>
            </div>
        </div>
        <div class="view1-footer-intro-container">
            <p style="color:#3d6f82;font-size: 25px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Если у Вас не хватает времени, или Вы не хотите самостоятельно собирать все эти документы и стоять в очередях, наши специалисты помогут Вам сэкономить Ваше время и нервы!</p>
        </div>   	
    </div>
</div>
<div>
    <footer ng-include="'footer.html'"></footer>
</div>