<div>
    <header ng-include="'header.html'"></header>
</div>
<div class="banner">
        <img src="content_images/happy_pension1.jpg">
        <h2 class="entry-title-view2" style="color:#3d6f82;">РАЗМЕР ПЕНСИИ В УКРАИНЕ</h2>
</div>
<div class="view-container">
    <div class="view2_holder">
        <div class="article">
            <div class="content">
                <p class="entry-summary">О том, какова минимальная пенсия в Украине, каким образом она устанавливается, и кто имеет право на ее получение в свете последних изменений пенсионного законодательства, идет речь во многих публикациях. На эту тему ведутся дискуссии, приводятся комментарии чиновников, специалистов. Тема пенсии вообще и минимальной пенсии, в частности, обсуждают большинство граждан Украины, чей возраст приблизился к пенсионному.</p>
            </div>
            <div id="scrollArea" ng-controller="ScrollingController">
                <div class="cintent_heading content" class="content" data-text="Содержание">
                    <ol>
                        <li><a class="scroll" ng-click="scrollTo('pensionnye-zakony-v-ukraine-kto-imeet-pravo-na-poluchenie-pensii')" href="">Пенсионные законы в Украине: кто имеет право на получение пенсии?</a></li>
                        <li><a class="scroll" ng-click="scrollTo('razmer-pensii-po-vozrastu')" href="">Размер пенсии по возрасту</a></li>
                        <li><a class="scroll" ng-click="scrollTo('razmer-pensii-po-invalidnosti')" href="">Размер пенсии по инвалидности</a></li>
                        <li><a class="scroll" ng-click="scrollTo('razmer-pensii-v-svyazi-s-uterej-kormiltsa')" href="">Размер пенсии в связи с утерей кормильца</a></li>
                        <li><a class="scroll" ng-click="scrollTo('razmer-pensii-repatriant')" href="">Размер пенсии пенсионерам выехавшим на ПМЖ.</a></li>
                    </ol>
                </div>
                <div class="content">
                    <h3 id="pensionnye-zakony-v-ukraine-kto-imeet-pravo-na-poluchenie-pensii" style="color:#3d6f82;">Пенсионные законы в Украине: кто имеет право на получение пенсии?</h3>
                    <p>3 октября 2017 года на пленарном заседании Верховной Рады Украины был принят Закон Украины &laquo;О внесении изменений в некоторые законодательные акты Украины касательно повышения пенсий&raquo; (далее &ndash; Закон). Этот документ прошел трудны путь разработки, обсуждений и согласований, пока не приобрел статус Закона. После голосования в Парламенте документ был подписан Президентом Украины, и с 11 октября прошлого года вступил в действие.</p>
                    <p>Размер минимальной пенсии в Украине определяют по специальной формуле. Понять, как его высчитывают, просто. Важно помнить о нюансах при определении размера минимальных пенсий для отдельных категорий граждан, таких как:</p>
                    <ul>
                        <li>переселенцы;</li>
                        <li>шахтеры;</li>
                        <li>медработники;</li>
                        <li>частные предприниматели;</li>
                        <li>полицейские;</li>
                        <li>инвалиды;</li>
                        <li>участники боевых действий.</li>
                    </ul>
                    <p>Начисление пенсии в 2018 году в Украине, обозначенным выше категориям граждан, реализуется с использованием специальных данных. Вся сложность вычисления обусловлена множеством законодательных актов (их более 24). Постановления Кабинета министров Украины также играют важную роль в установлении размера минимальных пенсий. Существует три вида таких выплат:</p>
                    <ul>
                        <li>по возрасту;</li>
                        <li>по инвалидности;</li>
                        <li>в связи с утерей кормильца.</li>
                    </ul>
                    <p>Полный перечень лиц, имеющих право на начисление пенсии в Украине, обозначен в ст. №8 Закона &laquo;Об общеобязательном государственном пенсионном страховании&raquo;:</p>
                    <ol>
                        <li>Солидарная система. Граждане Украины, которые застрахованы в соответствии с настоящим Законом и достигли установленного действующим законодательством пенсионного возраста;</li>
                        <li>Солидарная система. Лица с инвалидностью, которые имеют необходимый для назначения соответствующего вида пенсии страховой стаж, а в случае смерти этих лиц - члены их семей, и другие лица, предусмотренные законодательством;</li>
                        <li>Солидарная система. Граждане, которым назначена пенсия в соответствии с Законом Украины "О пенсионном обеспечении" (кроме социальных пенсий)</li>
                        <li>Солидарная система. Лица, которым была назначена пенсия (ежемесячное пожизненное денежное содержание) по другим законодательным актам, но они имели право на назначение пенсии по Закону Украины "О пенсионном обеспечении" - при условии, если они не получают пенсию (ежемесячное пожизненное денежное содержание) из других источников;</li>
                        <li>Накопительная система. Застрахованные лица и члены их семей и/или наследники - пожизненная пенсия и единовременная выплата за счет средств накопительной системы пенсионного страхования;</li>
                        <li>Обе системы. Лица, которые не подлежат общеобязательному государственному пенсионному страхованию, но добровольно платили страховые взносы в порядке и размерах, установленных законом, в солидарную систему и/или накопительную системы пенсионного страхования, имеют право на условиях, определенных Законом, на получение пенсии и социальных услуг за счет средств пенсионного фонда и / или получения пожизненной пенсии или единовременной выплаты за счет средств накопительной системы пенсионного страхования;</li>
                        <li>Иностранцы и лица без гражданства, находящиеся в Украине на законных основаниях, имеют право на получение пенсионных выплат и социальных услуг из системы общеобязательного государственного пенсионного страхования наравне с гражданами Украины на условиях и в порядке, предусмотренных Законом, если иное не предусмотрено международными договорами.</li>
                    </ol>
                    <p>Начисление пенсии осуществляют определенным образом в случае, если гражданин трудился на одном из видов предприятий или производств, перечисленных в следующих списках (но только на территории Украины):</p>
                    <ol>
                        <li>Список №1 (предприятия с вредными, тяжелыми условиями труда).</li>
                        <li>Список №2 (предприятия с менее тяжелыми условиями труда, при начислении пенсии после работы на них также учитывают средний заработок).</li>
                    </ol>
                    <p>Особенности начисления пенсии по Списку 1 в Украине раскрыты в законе №1788:</p>
                    <ul>
                        <li>для мужчин &ndash; если возраст более 50 и длительность непрерывной работы не менее 20 лет (в соответствии с новой редакцией закона &ndash; более 25);</li>
                        <li>женщины &ndash; если возраст 45 (по новым нормам &ndash; 50) и стаж 15 лет (сегодня &ndash; 20).</li>
                    </ul>
                    <p>Имеются свои нюансы при начислении пенсии в Украине. Это касается переходных периодов (учитывается заработная плата, её минимальная величина). Они продлены до 01.04.24 г.:</p>
                    <ol>
                        <li>Повышение пенсионного возраста для женщин на 5 лет (с 45 до 50);</li>
                        <li>Увеличение суммарного времени работы для оформления льготной пенсии по Списку №1:</li>
                    </ol>
                    <ul>
                        <li style="margin-left: 72pt;">мужчины &ndash; с 20 до 25 лет;</li>
                        <li style="margin-left: 72pt;">женщины &ndash; с 15 до 20 лет.</li>
                    </ul>
                </div>
                <div class="content">
                    <h3 id="razmer-pensii-po-vozrastu" style="color:#3d6f82;">Размер пенсии по возрасту</h3>
                    <p>Размер минимальной пенсии в Украине определяется Законом &laquo;Об общеобязательном государственном пенсионном страховании&raquo; и не может быть меньше <a title="Прожиточный минимум в Украине" href="https://index.minfin.com.ua/labour/wagemin/" target="_blank" style="color: #03688f;font-size: 20px;" onmouseover="this.style.color='#3d6f82'" onmouseout="this.style.color='#03688f'" href="#">размера прожиточного минимума</a> для нетрудоспособных лиц. Для этого, страховой стаж у мужчин должен быть не менее 35 лет, а у женщин - не менее 30 лет.</p>
                    <p>За каждый полный год страхового стажа свыше 35 лет мужчинам и 30 лет женщинам пенсия по возрасту увеличивается на 1% размера пенсии. Минимальный размер пенсии, который определен законом, отражен в таблице с учетом предыдущих двух лет.</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Период</th>
                                <th>Минимальная пенсия</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 января 2016</td>
                                <td>1074 грн.</td>
                            </tr>
                            <tr>
                                <td>1 мая 2016</td>
                                <td>1130 грн.</td>
                            </tr>
                            <tr>
                                <td>1 декабря 2016</td>
                                <td>1247 грн.</td>
                            </tr>
                            <tr>
                                <td>1 мая 2017</td>
                                <td>1312 грн.</td>
                            </tr>
                            <tr>
                                <td>1 октября 2017</td>
                                <td>1373 грн.</td>
                            </tr>
                            <tr>
                                <td>1 июля 2018</td>
                                <td>1435 грн.</td>
                            </tr>
                            <tr>
                                <td>1 декабря 2018</td>
                                <td>1497 грн.</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>С 1 января 2018 года для лиц, достигших 65-летнего возраста, минимальный размер пенсии при наличии у мужчин 35 лет, а у женщин 30 лет страхового стажа устанавливается в размере 40% от <a title="минимальная зарплата в Украине" href="https://index.minfin.com.ua/labour/salary/min/" target="_blank" style="color: #03688f;font-size: 20px;" onmouseover="this.style.color='#3d6f82'" onmouseout="this.style.color='#03688f'" href="#">минимальной заработной платы</a>, но не менее прожиточного минимума для лиц, утративших трудоспособность, определенного законом.</p>
                    <p>Начиная с 01.01.2018 г. право на назначение пенсии по возрасту по достижении возраста 60 лет имеют лица при наличии страхового стажа:</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Период</th>
                                <th>Страховой стаж</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01.01.2018 - 31.12.2018</td>
                                <td>не менее 25 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2019 - 31.12.2019</td>
                                <td>не менее 26 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2020 - 31.12.2020</td>
                                <td>не менее 27 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2021 - 31.12.2021</td>
                                <td>не менее 28 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2022 - 31.12.2022</td>
                                <td>не менее 29 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2023 - 31.12.2023</td>
                                <td>не менее 30 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2024 - 31.12.2024</td>
                                <td>не менее 31 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2025 - 31.12.2025</td>
                                <td>не менее 32 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2026 - 31.12.2026</td>
                                <td>не менее 33 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2027 - 31.12.2027</td>
                                <td>не менее 34 лет</td>
                            </tr>
                            <tr>
                                <td>с 01.01.2028</td>
                                <td>не менее 35 лет</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>В случае отсутствия необходимого страхового стажа, указанного в таблице выше, право на назначение пенсии по возрасту по достижении 63-летнего возраста имеют лица при наличии следующего страхового стажа:</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Период</th>
                                <th>Страховой стаж</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01.01.2018 - 31.12.2018</td>
                                <td>от 15 до 25 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2019 - 31.12.2019</td>
                                <td>от 16 до 26 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2020 - 31.12.2020</td>
                                <td>от 17 до 27 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2021 - 31.12.2021</td>
                                <td>от 18 до 28 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2022 - 31.12.2022</td>
                                <td>от 19 до 29 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2023 - 31.12.2023</td>
                                <td>от 20 до 30 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2024 - 31.12.2024</td>
                                <td>от 21 до 31 года</td>
                            </tr>
                            <tr>
                                <td>01.01.2025 - 31.12.2025</td>
                                <td>от 22 до 32 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2026 - 31.12.2026</td>
                                <td>от 23 до 33 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2027 - 31.12.2027</td>
                                <td>от 24 до 34 лет</td>
                            </tr>
                            <tr>
                                <td>с 01.01.2028</td>
                                <td>от 25 до 35 лет</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>Если необходимый страховой стаж менее значений, которые указаны в таблицах выше, то с 1 января 2019 года право на назначение пенсии по возрасту по достижении 65-летнего возраста имеют лица при наличии следующего страхового стажа:</p>
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Период</th>
                            <th>Страховой стаж</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01.01.2019 - 31.12.2019</td>
                                <td>от 15 до 16 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2020 - 31.12.2020</td>
                                <td>от 15 до 17 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2021 - 31.12.2021</td>
                                <td>от 15 до 18 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2022 - 31.12.2022</td>
                                <td>от 15 до 19 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2023 - 31.12.2023</td>
                                <td>от 15 до 20 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2024 - 31.12.2024</td>
                                <td>от 15 до 21 года</td>
                            </tr>
                            <tr>
                                <td>01.01.2025 - 31.12.2025</td>
                                <td>от 15 до 22 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2026 - 31.12.2026</td>
                                <td>от 15 до 23 лет</td>
                            </tr>
                            <tr>
                                <td>01.01.2027 - 31.12.2027</td>
                                <td>от 15 до 24 лет</td>
                            </tr>
                            <tr>
                                <td>с 01.01.2028</td>
                                <td>от 15 до 25 лет</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>Начиная с 1 января 2028 года, при наличии 40 и более календарных лет страхового стажа, пенсия по возрасту назначается независимо от возраста.</p>
                    <p>Проблема изменения пенсионного возраста в сторону его увеличения является актуальной для целого ряда стран. Например, в Польше планируют повысить пенсионный возраст до 67 лет, в Латвии &ndash; до 65 лет для мужчин и женщин, в Израиле &ndash; до 64 лет. Премьер-министр Швеции и вовсе предлагает увеличить пенсионный возраст до 75 лет.</p>
                    <p>Пенсионный возраст в других странах:</p>
                    <ul>
                        <li>Германия: 65-67</li>
                        <li>Великобритания: 65-67</li>
                        <li>Дания: 65-67</li>
                        <li>Исландия: 67</li>
                        <li>Грузия: 60 и 67 лет</li>
                        <li>Канада: 65</li>
                        <li>Нидерланды: 65</li>
                        <li>Финляндия: 62-68</li>
                        <li>Эстония: 65</li>
                        <li>Япония: 65</li>
                    </ul>
                </div>
                <div class="content">
                    <h3 id="razmer-pensii-po-invalidnosti" style="color:#3d6f82;">Размер пенсии по инвалидности</h3>
                    <p>Лица, имеющие одну из трех групп инвалидности имеют право на получение пенсии при наличии соответствующего стажа. При это не имеет значения, когда произошла полная или частичная потеря трудоспособности - до устройства на работу, в период работы или по ее окончанию.</p>
                    <p>В зависимости от группы инвалидности законодательно установлен размер пенсии в процентном отношении от пенсии по возрасту:</p>
                    <ul>
                        <li>I группа - 100%</li>
                        <li>II группа - 90%</li>
                        <li>III группа - 50%</li>
                    </ul>
                    <p>Согласно действующего законодательства, причина, группа, время инвалидности и срок устанавливает орган медико-социальной экспертизы.</p>
                    <p>Лица, с первой, второй и третьей группами инвалидности имеют право на получение пенсионного обеспечения при наличии страхового стажа, указанного ниже, в день обращения за пенсией или на время&nbsp;наступления инвалидности:</p>
                    <p>Неработающие лица с инвалидностью II и III групп имеют право выбора в назначении пенсии. Они могут выбрать начисление пенсии согласно общим условиям пенсии по возрасту, описанным в разделе выше. Для второй группы инвалидности достаточно наличия следующего страхового стажа:</p>
                </div>
                <div class="content">
                    <h3 id="razmer-pensii-v-svyazi-s-uterej-kormiltsa" style="color:#3d6f82;">Размер пенсии в связи с утерей кормильца</h3>
                    <p>Данный вид пенсии в солидарной системе назначается нетрудоспособным членам семьи умершего кормильца, которые состояли на его иждивении, при наличии у кормильца на день смерти страхового стажа, который был бы необходим ему для назначения пенсии по III группе инвалидности (см. раздел выше).</p>
                    <p>Страховой стаж не имеет значения в том случае, если умерший был уже пенсионер либо лицо, которое получило инвалидность в период прохождения срочной военной службы.</p>
                    <p>Размер пенсии в связи с утерей кормильца равен:</p>
                    <ul>
                        <li>50% от размера пенсии по возрасту умершего на 1 нетрудоспособного члена семьи;</li>
                        <li>100% - да 2-х и более нетрудоспособных членов семьи;</li>
                        <li>Дети-сироты получат пенсионное обеспечение согласно пенсии по возрасту каждого родителя.</li>
                    </ul>
                    <p>На всех членов семьи, имеющих право на пенсию в связи с потерей кормильца, назначается одна общая пенсия. По требованию одного из членов семьи его часть пенсии могут выплачивать отдельно.</p>
                    <p>Пенсия по случаю утери кормильца назначается на весь период, в течение которого член семьи умершего кормильца считается нетрудоспособным или пожизненно, если член семьи уже достиг пенсионного возраста.<a href="https://maanimo.com/indexes/139691-nachislenie-pensii-v-ukraine-razmer-minimalnoy-pensii" target="_blank" style="text-decoration: none;color:#3d6f82; cursor: pointer;"> Источник...</a></p>
                </div> 
                <div class="content">
                     <a id=“anchor”></a>
                    <h3 id="razmer-pensii-repatriant" style="color:#3d6f82;">ВОЗОБНОВЛЕНИЕ ПЕНСИИ ДЛЯ «ИНОСТРАННЫХ» ПЕНСИОНЕРОВ С ДАТЫ ПРЕКРАЩЕНИЯ ЕЕ ВЫПЛАТЫ В, МОМЕНТ ОТЪЕЗДА НА ПМЖ, А НЕ С ДАТЫ ПОДАЧИ ПРОСЬБЫ О ВОЗОБНОВЛЕНИИ В ПЕНСИОННЫЙ ФОНД УКРАИНЫ</h3>
                    <div>
                        <p>7 октября 2009 года было принято решение Конституционного Суда Украины, которое установило неконституционность норм пенсионного законодательства, отменявших право на выплату пенсии пенсионерам, выехавшим на постоянное место жительства за границу.</p>
                        <p>С этого момента огромное количество пенсионеров, проживающих за границей, обрели право на возобновление своих ранее назначенных пенсий. Несмотря на то, что в указанном Решении КСУ и было сказано, что определенные нормы Закона «Об общеобязательном государственном пенсионном страховании» теряют силу действия с момента принятия Решения, но дата, с которой пенсия должна быть возобновлена, не была определена. Это привело к тому, что, как органы Пенсионного фонда Украины, так и суды приходили к различным выводам о дате возобновления пенсии. Датой возобновления пенсии признавался и день принятия Решения Конституционным Судом, и трехгодичный срок до момента обращения к пенсионному фонду, и день обращения с заявлением о возобновлении пенсии. Данный вопрос был предметом бесконечных споров, обжалований и кассаций.</p>
                        <p>Но на сегодняшний день произошли существенные изменения, которые если и не поставили точку в обсуждаемой теме, то во всяком случаи, внесли некоторую определенность, которая существенно усилила правовую позицию «иностранных» пенсионеров.</p>
                        <p>Верховный Суд Украины, решения которого являются прецедентными, принял постановление, в котором указал, что со дня вступления в силу Решения КСУ возникли основания для возобновления конституционного права лица на выплату пенсии, выплата которой была прекращена, вследствие выезда этого лица на ПМЖ за границу. Другими словами, орган ПФУ должен возобновлять выплату пенсии гражданам Украины, которые выехали на постоянное место жительства за границу, начиная с октября 2009 года т.е. с даты решения Конституционного суда Украины.</p>
                        <p>Свои выводы ВСУ основывал на решении Европейского суда по правам человека «Пичкур против Украины». В указанном решении Европейский Суд указал на то, что положения Конвенции о защите прав человека и основоположных свобод, действовали для Украины с 11 сентября 1997 года. А данная Конвенция включает в себя статьи о запрете дискриминации по любому признаку и защите права на имущество (что прямо касается вопроса пенсионных выплат лицам, которые выехали на постоянное место проживания за территорию Украины). Поэтому, начиная с этой даты, государство должно было действовать согласно своим обязательствам и не имело право дискриминировать пенсионеров.</p>
                        <p>Подписав 11 сентября 1997 года Конвенцию О защите прав человека и основоположных свобод, Украина признала верховенство этого международного источника по отношению к внутреннему законодательству. Ст. 1 Протокола № 1 к Конвенции  предусматривает, что «Каждый имеет право на уважение своей собственности. Никто не может быть лишен своей собственности иначе как в интересах общества и на условиях, предусмотренных законом и общими принципами международного права».</p>
                        <p>Таким образом два источника права &#8211; решение ЕСПЧ и решение ВСУ, дают нашим клиентам пенсионерам, обратившимся с иском к пенсионному фонду Украины с исками о возобновлении пенсии, две возможности по поводу даты возобновления их пенсий: в соответствии с Решением ЕСПЧ – возобновление с сентября 1997 года или с фактической даты прекращения выплаты пенсии (более поздняя дата), а в соответствии с решением ВСУ – возобновление с октября 2009 года – даты решения Конституционного суда.</p>
                        <p>Учитывая, что и решение ЕСПЧ и решение ВСУ были приняты относительно недавно, трудно сказать по какому пути пойдет судебная практика. В любом случаи мы рекомендуем нашим клиентам и другим пенсионерам, проживающим за границей, имеющим право на возобновление пенсий из Украины, обратить серьезное внимание на срок с какого момента пенсионный фонд попытается возобновить им выплату пенсий. Чем больше срок ретроактивного возобновления пенсии, тем больше сумма одноразовой выплаты за прошедшие годы. Речь идет об относительно крупных суммах, которые позволят пенсионерам обеспечить свою юридическую защиту.</p>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

<div>
    <footer ng-include="'footer.html'"></footer>
</div>